/* CSS code */
.travel-guides {
  text-align: center;
  padding: 20px;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar {
  border-radius: 500px;
}

.ja:hover,
.oa:hover {
  background-color: whitesmoke;
}

.ja,
.oa {
  margin: 10px;
  padding: 7px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.popular-destinations button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.guides-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.guide-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.guide-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  animation: pulse 4s infinite;
}

.guide-info {
  padding: 15px;
  text-align: left;
}

.guide-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.guide-info p {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
}

.guide-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.guide-author span {
  margin-right: 10px;
}

.see-more-container,
.see-fewer-container {
  margin-top: 20px;
}


.see-more-button,
.see-fewer-button {
  padding: 20px 35px;
  border: none;
  background-color: #f0f0f09f;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.see-more-button:hover,
.see-fewer-button:hover {
  
  background-color:rgba(180, 190, 195, 0.652);
  
}
.re{
  margin-right: 76%;
}