.features {
    padding: 20px;
    text-align: center;
  }
  
  .features h2 {
    margin-bottom: 20px;
  }
  
  .features-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    justify-content: center;
    
  }
  
  .feature {
    background: #f9f9f900;
    border: 1px solid #dddddd00;
    border-radius: 10px;
    padding: 20px;
    height: 250px;
    width: 300px;
  
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
  }
  
  .feature img {
    max-width: 100%;
    max-height: 60%;
    height: auto;
    border-radius: 5px;
  }
  
  .feature h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .feature p {
    color: #666;
    text-align: center;
  }
  
  .feature:hover {
    transform: translateY(-5px);
  }
  
  @media (max-width: 1500px) {
    .features-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 1000px) {
    .features-grid {
      grid-template-columns: 1fr;
    }
  }
  