
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

  
  .main-div {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/351/835/716/booking-rest-8k-mountains-wallpaper-88ae7b505c263018ef9867555f52ebf8.jpg'); 
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
  }
  
  .inner-div {
    text-align: justify;
    align-items: center;
    justify-content: center;
    height: 0;
    width:100%;
    border-bottom: 400px solid  rgba(255, 255, 255, 0.56);
    border-right: 100px solid rgba(255, 255, 255, 0);
    max-width: 600px;
  
    border-radius: 2px;

  }
  
  .inner-div h1 {
    margin-top: 10%;
    text-align: center;
    color: #1E2652;
    font-size: 2em;
  }
  
  .inner-div p {
    margin-top: 5%;
    text-align: center;
    color: #5C6F82;
    line-height: 1.5em;
  }
  
  .button-container {
    margin-left: 10%;
    margin-top: 20%;
  }
  
  .btn {
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .start-planning {
    background-color: #FF5A5F;
    color: white;
  }
  
  .get-app {
    background-color: #FFD1D1;
    color: #FF5A5F;
  }
  .iome{
    position: absolute;
    top: 40%;
    left: 55%;
  }
  @media (max-width: 768px) {
    .main-div {
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .inner-div {
      max-width: 100%;
      padding: 15px;
    }
  
    .inner-div h1 {
      font-size: 1.5em;
    }
  
    .btn {
      padding: 8px 15px;
      font-size: 0.9em;
    }
    .iome{
     width: 0;
     height: 0;
    }
  }
  
  @media (max-width: 480px) {
    .main-div {
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .inner-div {
      padding: 10px;
    }
  
    .inner-div h1 {
      font-size: 1.2em;
    }
  
    .inner-div p {
      font-size: 0.9em;
    }
  
    .btn {
      padding: 5px 10px;
      font-size: 0.8em;
      margin-bottom: 10px;
    }
  
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  