@media (max-width: 768px) {
.itinerary-planner {
    padding: 30px 0px 40px 20px;
    transition: 2s;
  }
  
  .itinerary-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .itinerary-heading1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }
  
  .date-range-label {
    font-size: 15px;
    color: #555;
    margin-right: 60px;
    margin-top: 20px;
  }
  
  .date-item {
    margin-bottom: 20px;
  }
  
  .date-format-header{
  font-size: 24px;
  font-weight: bold;

  }
  .location-name{
    font-size: bold;
  }
  
  .date-details {
    margin-bottom: 10px;
  }
  
  .subheading {
    font-size: 3px;
    color: grey;
    margin-bottom: 10px;
  }
  
  .locations-list {
    margin-bottom: 10px;
  }
  
  .location-item {
    display: grid;
    grid-template-columns: 99% 5%;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
  
  }
  
  .location-content {
   display: grid;
   grid-template-columns: 70% 25%;
    width: 100%;
  }
  
  .location-info {
    width: 90%;
    height: 100%;
    background-color: #e8e8e8; 
border-radius: 10px;
    padding: 10px;
  }
  
  .location-index {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .location-name {
    font-size: 14px;
    color: #333;
  }
  
  .location-details {
    
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
  }
  
  .place-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subheading {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    outline: none; 
    background-color: transparent; 
  }
  
  .place-image {
    width: 100px;
    height: 60%;

    border-radius: 5px;
    object-fit: cover;
  }
  
  .remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #9b9a9a;
    font-size: 18px;
    display: flex;
   
    justify-content: center;
  }
  
  .location-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .date-details {
    margin-bottom: 10px;
    cursor: pointer; 
}
}


@media (min-width:768px) {
  
.itinerary-planner {
  padding: 50px 20px 40px 70px;
  transition: 2s;
}
.itinerary-heading1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}


.itinerary-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-range-label {
  font-size: 20px;
  color: #555;
  margin-right: 60px;
  margin-top: 20px;
}

.date-item {
  margin-bottom: 20px;
}
.date-format-header{
font-size: 20px;
font-weight: bold;

}
.location-name{
  font-size: bold;
}

.date-details {
  margin-bottom: 10px;
}

.subheading {
  font-size: 4px;
  color: grey;
  margin-bottom: 10px;
}

.locations-list {
  margin-bottom: 10px;
}

.location-item {
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;

  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;

}

.location-content {
  display: flex;
  justify-content: space-between;
 
  width: 100%;
}

.location-info {
  width: 60%;
  background-color: #e8e8e8; 
border-radius: 10px;
  padding: 10px;
}

.location-index {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
  margin-right: 10px;
}

.location-name {
  font-size: 14px;
  color: #333;
}

.location-details {
  
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}

.place-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subheading {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  outline: none; 
  background-color: transparent; 
}

.place-image {
  width: 200px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #9b9a9a;
  font-size: 18px;
  display: flex;
  margin-top: -70px;
  justify-content: center;
}

.location-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.date-details {
  margin-bottom: 10px;
  cursor: pointer; 
}

  
}
