
@media (max-width: 450px) {
.full-body{
  background-color: rgb(191, 191, 191);
}
  .select-nav-bar {
    transition: 2s;
    display: block; 
    margin-left: 35%;
    height: 40px;
    padding: 7px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    position: fixed;
    top: 92%;
        z-index: 1000000000000;
    border-radius:  15px;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.808);
   
  }
  
  /* Sidebar --------------------*/
  .menu-btn {
    display: block; 
    font-size: 30px;
    height: 30px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
    border: none;
    position: fixed;
    top: 70px;
    left: -1px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    color: white;
  

    background-image:  linear-gradient(to right, rgb(203, 21, 1), rgb(229, 68, 9), rgb(198, 121, 6));
    z-index: 1000; 
  }
  .menu-btn i{
    position: absolute;
   margin-left: 10px;

  }
  
  .menu-btn.hidden {
    display: none;
  }
  .headcontent {
    border-radius: 10px;
    background-color: white;
  }
  
  .headcontent h1 {
    font-size: 25px;
    padding: 10px 15px;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
    color: #333;
    cursor: pointer;
  }
  
  .headcontent h1[contenteditable="true"] {
    outline: none;
  }
  
  .sidebar {
    position: fixed;
    font-family:cursive;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    border: #9a9898 1px solid;
    transition: 0.3s;
    z-index: 1000;
    overflow-y: auto;
    padding-bottom: 20px; 
  }
  
  /* Hide scrollbar for WebKit browsers */
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  .full-body ::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */
  .sidebar {
    scrollbar-width: none; /* Hide scrollbar */
  }
  
  /* Hide scrollbar for Internet Explorer and Edge */
  .sidebar {
    -ms-overflow-style: none; /* Hide scrollbar */
  }
  .Itineary-scroll{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .Itineary-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .close-btn {
    font-size: 30px;
  color: #1f0117;
    border: none;
    background: none;
    cursor: pointer;
    margin: 10px;
  }
  .Itineary-scroll{
    height: 500px;
  }
  
  .sidebar-content {
    padding: 20px;
    margin-top: -20px;
  }
  .full-sidebar{
    background-color: rgba(120, 120, 120, 0.49);
    width: 100%;
  }
  
  .sidebar-section {
    margin-bottom: 20px; 
    padding: 10px;
    border-radius: 8px;
  }
  
  .sidebar-section h2 {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
  }
  
  
  .itinerary-section {
    background-color: #2a2a2a; 
  }
  
  .budget-section {
    background-color: #3a3a3a; 
  }
  
  
  .sidebar-button {
    background-color: #444; 
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
  }
  

  
  /*       ------- planner section ***********/
  
  .itineary-budget {
    width: 100%;
    margin-top: 30px;
  }
  .itinerary-planner {
  
    border: #7d7b7b 1px solid;
  }
  .budget-planner {
    background-color: rgb(255, 255, 255);
    border: #d7d2d2 1px solid;
  }
  
  
  .nav-bar.hidden {
    margin-top: -10px;
    transition: 1s;
  }
  .nav-bar {
    transition: 1s;
    display: grid;
  
    grid-template-columns: 20% 30% 30% 15%;
  }
  .navbox1 {
    background-image: url("../assets/new.png");
    background-size: cover;
    height: 90%;
    margin-top: -4px;
    padding: 3px;
  }
  .navbox1 img{
    display: none;
  }
  
  .navbox2 {
    display: grid;
    grid-template-columns: 50px 50px;
  
    padding: 15px;
  }
  
  .navbox3 {
    display: grid;
    grid-template-columns: 50px 50px;
  
    padding: 15px;
  }
  .navbutton button {
    height: 30px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
    border-right: grey 1px solid;
    box-shadow: grey 5px 5px 5px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      rgb(164, 68, 0),
      rgb(247, 138, 30)
    );
  }
  .navbutton1 button {
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: grey 5px 5px 5px;
  }
  .navbox4 {
    padding: 15px;
  }
  .navbox4 button {
    width: 40px;
    background-image: linear-gradient(
      to right,
      rgb(148, 27, 0),
      rgb(171, 74, 13),
      rgb(255, 155, 6)
    );
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: grey 5px 5px 5px;
    font-weight: bold;
    height: 30px;
    border-radius: 15px;
  }
  
  .headcontent-date {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .itinerary-planner {
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
  }
  
  .itinerary-heading h1 {
    padding: 0px;
    margin-bottom: 20px;
  }
  
  .dates-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    justify-content: center;
  }
  
  .date-item {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  
    width: 90%;
  
    gap: 10px;
  }
  
  .date {
    font-weight: bold;
  }
  
  .place {
    width: 100%;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
  }
  
  .search-bar {
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .place-number {
    background-color: blue;
  }
  
  
  /*      --------- end of sidebar-----------       */
  
  .select-main-container {
    background-color: #000000a3;
    position: fixed;
    width: 100%;
    z-index: 1001;
    transition: 5s;
  }
  
  .your-photo {
    width: 100%;
    height: 575px;
    background-color: aqua;
  }
  
  .photo-head span {
    font-size: large;
  }
  .photo-head button {
    float: right;
    background-color: white;
    cursor: pointer;
    font-size: 200%;
    color: gray;
    border: none;
  }
  
  .select-buttons button {
    border: none;
    padding: 5%;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
  }
  .your-button.yp {
    color: rgb(255, 140, 0);
    box-shadow: 0px 0px 2px 0px rgb(255, 140, 0);
    border-radius: 10px;
    transition: 0.5s;
  }
  
  /* Hide scrollbar for WebKit browsers */
  .select-photo::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .select-photo {
    scrollbar-width: none; /* Hide scrollbar */
  }
  
  /* Hide scrollbar for Internet Explorer and Edge */
  .select-photo {
    -ms-overflow-style: none; /* Hide scrollbar */
  }
  
 
  
  .budget-header {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .budget-h1 h1 {
    padding-left: 10px;
    font-weight: bold;
  }
  .expense-button1 {
    background-color: rgb(255, 113, 5);
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: bold;
    width: 100%;
    margin-top: -5px;
    height: 40px;
  }
  .expense-button {
    padding: 6% 6% 6% 17%;
  }
  .budget-setter {
    width: 100%;
    height: fit-content;
  }
  .budget-container {
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(239, 238, 238);
    height: fit-content;
    border-radius: 20px;
    width: 100%;
  }
  .budget-currency {
    border-top: #999696 1px solid;
    height: 40%;
    padding: 40px;
    display: grid;
    gap: 10px;
  }
  .edit-budget {
    width: 220px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #220176;
    color: white;
    font-weight: bold;
  }
  
  .currency-setting {
    width: 220px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #1f0117;
  }
  
  
  .addexpbox {
    width: 380px;
    height: 40px;
  }
  .Add-expense {
    display: grid;
    border-radius: 30px;
    gap: 1px;
  
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    transition: 2s;
  }
  .Add-expense-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .currencySelector {
    width: 80%;
    height: 40%;
  }
  
  .addexbutton {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 4, 4);
    color: white;
    font-size: large;
    font-weight: bolder;
    display: flex;
    align-items: center;
  }
  
  .edit-button-close {
    cursor: pointer;
  }
  
  .expense-input {
  }
  
  /*  -------------*/
  
  .edit-background-button {
    background-image: linear-gradient(
      to right,
      rgb(148, 0, 0),
      rgb(255, 119, 0),
      rgb(255, 143, 6)
    );
  }
  .expense-sidebar-button {
    background-image: linear-gradient(
      to right,
      rgb(206, 58, 8),
      rgb(165, 45, 5),
      rgb(187, 115, 0)
    );
    box-shadow: grey 5px 5px 5px;
  }
  
  .hc-image {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    height: 50px;
    gap: 25px;
   
    justify-content: center;
  }
  .hc-imagebox {
    border-radius: 50px;
    width: 50px;
    background-size: cover;
  }
  .hc-date {
    text-align: right;
    padding: 10px 20px;
    font-size:medium;
    color: grey;
  }
  .map-search-input{
    border: #220176 2px solid;
  }
  .planner-footer{
    background-color: rgb(243, 243, 243);
  }
  
  
  
  
  
  

  .select-container {
    width: 100%;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
  }
  .select-main-container {
    width: 100%;
    padding-top: 40%;
  }
  .select-buttons {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    column-gap: 2%;
    border: none;
  }
  .nav-bar {
    height: 60px;
  
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 1000;
    
    border-bottom: #a6a3a3 1px solid;
  }

  .menu-btn {
    display: block;
  }
  .headimage-container {
    background-color: rgba(218, 217, 217, 0.274);
  }

  .sidebar {
    left: -250px;
  }

  .sidebar.open {
    left: 0;
  }
  .headcontent {
    width: 90%;
    height: 150px;
    margin: -90px 5% 5% 5%;
  }
  .headimage {
    width: 100%;
    height: 300px;
  }
  .app-container{
    width: 120%;
  }
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    padding: 2% 1% 1% 6%;
  }

  .image-container {
    width: 90%;
    height: 120px;
    background-color: antiquewhite;
  }

  .select-photo {
    height: 570px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
  }

  .itineary-budget {
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .planner-footer{
     height: fit-content;
     padding: 30px; 
  }
  .full-body {
    display: grid;
    background-color: #d0d0d0;
   grid-template-columns: 100% 200%;
    width: 100%;
    height: fit-content;
    font-family:cursive;
  }
  .mapContainer{
    width: 100%;
    transition: 2s;

  }
  
  .map-full.no{
    position: fixed;
    width: 500px;
    z-index: 1000000;
  transition: 2s;
    overflow-y: hidden;
  
  }
  .map-full.hidden{
    display: none;
    position: fixed;
 
    z-index: 1000000;
  transition: 2s;
    overflow-y: hidden;
  }
}



@media (min-width: 485px) {


  .mapContainer{
    width: 50%;

  }
.select-nav-bar {
  display: block; 
  margin-left: 85%;
  height: 30px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  position: fixed;
  top: 60px;
  left: -1px;
  z-index: 1000;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
 
}

/* Sidebar --------------------*/
.menu-btn {
  display: block; 
  font-size: 30px;
  height: 30px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  position: fixed;
  top: 60px;
  left: -1px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  z-index: 1001; 
}

.menu-btn.hidden {
  display: none;
}
.headcontent {
}

.headcontent h1 {
  font-size: 2em;
  padding: 20px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: #333;
  cursor: pointer;
}
.Itineary-scroll{
  height: 400px;
}

.headcontent h1[contenteditable="true"] {
  outline: none;
}

.sidebar {
  position: fixed;
  font-family:Arial, Helvetica, sans-serif;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  border: #9a9898 1px solid;
  transition: 0.3s;
  z-index: 1000;
  overflow-y: auto;
  padding-bottom: 20px; 
}

/* Hide scrollbar for WebKit browsers */
.sidebar::-webkit-scrollbar {
  display: none;
}
.full-body ::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Firefox */
.sidebar {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
.sidebar {
  -ms-overflow-style: none; /* Hide scrollbar */
}
.Itineary-scroll{
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.Itineary-scroll::-webkit-scrollbar {
  display: none;
}

.close-btn {
  font-size: 30px;
   color: black;
  border: none;
  background: none;
  cursor: pointer;
  margin: 10px;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-section {
  margin-bottom: 20px; 
  padding: 10px;
  border-radius: 8px;
}

.sidebar-section h2 {
  margin: 0;
  font-size: 24px;
}


.itinerary-section {
  background-color: #2a2a2a; 
}

.budget-section {
  background-color: #3a3a3a; 
}


.sidebar-button {
  background-color: #444; 
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
}

.headcontent {
  border-radius: 10px;

  background-color: white;
}

/*       ------- planner section ***********/

.itineary-budget {
  width: 80%;
  margin-top: 30px;
}
.itinerary-planner {
  box-shadow: 10px 10px 10px rgba(222, 221, 221, 0.6);
  border: #afafaf 1px solid;
}
.budget-planner {
  background-color: rgb(255, 255, 255);
  border: #d7d2d2 1px solid;
}

.headimage button {
  width: 50px;
  position: relative;
  left: 85%;
  top: 5%;
  height: 50px;
  color: #f9f8f8;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #13101084;
}

.nav-bar.hidden {
  margin-top: -10px;
  transition: 1s;
}
.nav-bar {
  transition: 1s;
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
}
.navbox1 {
  padding: 3px;
}

.navbox2 {
  display: grid;
  grid-template-columns: 50px 50px;

  padding: 15px;
}

.navbox3 {
  display: grid;
  grid-template-columns: 50px 50px;

  padding: 15px;
}
.navbutton button {
  height: 30px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-right: grey 1px solid;
  box-shadow: grey 5px 5px 5px;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 25px;
  padding-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgb(164, 68, 0),
    rgb(247, 138, 30)
  );
}
.navbutton1 button {
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 25px;
  
  font-weight: bold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: grey 5px 5px 5px;
}
.navbox4 {
  padding: 15px;
}
.navbox4 button {
  width: 100px;
  background-image: linear-gradient(
    to right,
    rgb(148, 27, 0),
    rgb(171, 74, 13),
    rgb(255, 155, 6)
  );
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: grey 5px 5px 5px;
  font-weight: bold;
  height: 30px;
  border-radius: 15px;
}

.headcontent-date {
  display: grid;
  grid-template-columns: 50% 50%;
}

.itinerary-planner {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  font-family: Arial, sans-serif;
}

.itinerary-heading h1 {
  padding: 10px;
  margin-bottom: 20px;
}

.dates-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  justify-content: center;
}

.date-item {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

  width: 90%;

  gap: 10px;
}

.date {
  font-weight: bold;
}

.place {
  width: 100%;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px;
}

.search-bar {
  padding: 10px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.place-number {
  background-color: blue;
}


/*      --------- end of sidebar-----------       */

.select-main-container {
  background-color: #000000a3;
  position: fixed;
  width: 100%;
  z-index: 1001;
  transition: 5s;
}

.your-photo {
  width: 100%;
  height: 575px;
  background-color: aqua;
}

.photo-head span {
  font-size: large;
}
.photo-head button {
  float: right;
  background-color: white;
  cursor: pointer;
  font-size: 200%;
  color: gray;
  border: none;
}

.select-buttons button {
  border: none;
  padding: 5%;
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
}
.your-button.yp {
  color: rgb(255, 140, 0);
  box-shadow: 0px 0px 2px 0px rgb(255, 140, 0);
  border-radius: 10px;
  transition: 0.5s;
}

/* Hide scrollbar for WebKit browsers */
.select-photo::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.select-photo {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
.select-photo {
  -ms-overflow-style: none; /* Hide scrollbar */
}

.map-container {
  z-index: 0;
  overflow-y: hidden;
}

.budget-header {
  display: grid;
  grid-template-columns: 60% 40%;
}
.budget-h1 h1 {
  padding-left: 50px;
  font-weight: bold;
}
.expense-button1 {
  background-color: rgb(255, 113, 5);
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: bold;
  width: 60%;
  height: 40px;
}
.expense-button {
  padding: 6% 6% 6% 17%;
}
.budget-setter {
  width: 100%;
  height: fit-content;
  padding: 0% 5% 5% 5%;
}
.budget-container {
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: rgb(239, 238, 238);
  height: 150px;
  border-radius: 20px;
  width: 90%;
}
.budget-currency {
  border-left: #999696 1px solid;
  height: 40%;

  padding: 40px;
  display: grid;
  gap: 10px;
}
.edit-budget {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #220176;
  color: white;
  font-weight: bold;
}

.currency-setting {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #1f0117;
}

.addexpbox {
  width: 380px;
  height: 40px;
}
.Add-expense {
  display: grid;
  border-radius: 30px;
  gap: 1px;

  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  transition: 2s;
}
.Add-expense-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.currencySelector {
  width: 80%;
  height: 40%;
}

.addexbutton {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 4, 4);
  color: white;
  font-size: large;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.edit-button-close {
  cursor: pointer;
}

.expense-input {
}

/*  -------------*/

.edit-background-button {
  background-image: linear-gradient(
    to right,
    rgb(148, 0, 0),
    rgb(255, 119, 0),
    rgb(255, 143, 6)
  );
}
.expense-sidebar-button {
  background-image: linear-gradient(
    to right,
    rgb(206, 58, 8),
    rgb(165, 45, 5),
    rgb(187, 115, 0)
  );
  box-shadow: grey 5px 5px 5px;
}

.hc-image {
  display: grid;

  grid-template-columns: 20% 20% 20%;
  height: 50px;
  gap: 5px;
  justify-content: center;
}
.hc-imagebox {
  border-radius: 30px;
  background-size: cover;
}
.hc-date {
  text-align: right;
  padding: 10px 20px;
  font-size: large;
  color: grey;
}
.map-search-input{
  border: #220176 2px solid;
}
.planner-footer{
  background-color: rgb(243, 243, 243);
}
  .select-container {
    background-color: white;
    width: 70%;
    border-radius: 20px;
    padding: 20px;

    height: 800px;
  }
  .select-main-container {
    padding: 1% 10% 10% 25%;
  }
  .select-buttons {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 20%);
    column-gap: 2%;
    border: none;
  }
  .your-button {
    border-radius: 5px;
  }
  .nav-bar {
    height: 70px;
    margin-top: -8px;
    background-color: rgb(255, 255, 255);
    width: 62.8%;
    position: fixed;
    z-index: 1000;
    margin-left: -10px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #a6a3a3 1px solid;
  }

  .select-nav-bar {
    display: none;
  }

  .menu-btn {
    display: none;
  }
  .headimage-container {
  }
  .sidebar {
    left: 0;
    top: 52px;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 2% 1% 1% 6%;
  }
  .image-gallery {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
  }
  .image-container {
    width: 30%;
    height: 150px;
  }

  .content-section {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 52px;
    -ms-overflow-style: none;
  }

  .close-btn {
    display: none;
  }
  .headimage {
    height: 250px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: grey 10px 10px 10px;
  }
  .headcontent {
    width: 70%;
    height: 180px;
    margin-top: -15%;
    font-family:cursive;
    margin-left: 15%;
    box-shadow: grey 10px 10px 10px;
  }

  .itineary-budget {
    width: 100%;
    height: 1000px;
    display: grid;
    font-family:cursive;
  }
  .full-body {
    display: grid;
    background-color: #ffffff64;
    grid-template-columns: 58% 42%;
    width: 85%;
    margin-left: 12.9%;
    font-family:cursive;
  }
  .planner-footer{
    height: fit-content;
    padding: 30px; 
 }
}